@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v27-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v27-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v27-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v27-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v27-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v27-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v27-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v27-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  body {
    width: 1440px;
    height: 630px;
    background: #10367C;
  }
.container {
    width: 1440px;
    display: flex;
    justify-content: space-between;
}
p {
    margin-top: 0px;
}
.container_about {
    width: 193px;
    margin-right: 223px;
    height: 211px;
    margin-left: 104px;
}
.container_property_types {
    width: 133px;
    margin-right: 283px;
    height: 310px;
}
.container_support {
    width: 233px;
    height: 122px;
}
.footer {
    color: #FFFFFF;
    display: block;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin: 64px 1081px 120px 103px;

}
.heading_about {
    width: 54px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
}
.heading_property {
    width: 131px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
}
.heading_support {
    width: 131px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
}
ul {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    padding-left: 0px;
}
li {
    list-style-type: none;
}