.heading {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
width: 306px;
height: 47px;
margin: 120px 567px 20px 567px;
}
hr {
    margin: 0px 670px 88px 670px;
    width: 100px;
    height: 4px;
    background: #F5BD41;
}
div {
    position: absolute;
    width: 296px;
}
.container_headphones {
    margin: 80px 1040px 114px 104px;
}
.container_communicate {
    margin: 80px 728px 114px 416px;
}
.container_gadgets {
    margin: 80px 416px 114px 728px;
}
.container_like {
    margin: 80px 103px 114px 1041px;
}
.headphones {
    position: absolute;
    margin: 4px 111px 80px 111px;
    width: 75px;
    Height: 92px;
}
.communicate {
    position: absolute;
    margin: 8px 107px 86px 105px;
    width: 83px;
    Height: 83px;
}
.gadgets {
    position: absolute;
    margin: 17px 98px 101px 98px;
    width: 100px;
    Height: 67px;
}
.like {
    position: absolute;
    margin: 4px 102px 96px 102px;
    width: 92px;
    Height: 83px;
}
.text_headphones {
    position: absolute;
    width: 141px;
    height: 28px;
    left: 77px;
    top: 148px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #383838;
}
.text_communicate {
    position: absolute;
    width: 296px;
    height: 28px;
    top: 148px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #383838;
}
.text_gadgets {
    position: absolute;
    width: 168px;
    height: 28px;
    left: 64px;
    top: 148px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #383838;
}
.text_like {
    position: absolute;
    width: 225px;
    height: 28px;
    left: 36px;
    top: 148px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #383838;
}