@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v27-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v27-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v27-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v27-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v27-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v27-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
  }
@media ( max-width: 2560px ) {
  
.heading {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
width: 306px;
height: 47px;
margin: 120px 567px 20px;

}
.container {
    display: flex;
    justify-content: space-between;
    width: 1440px;
}
hr {
    margin: 0px 670px 88px 670px;
    width: 100px;
    height: 4px;
    background: #F5BD41;
}
div {
    width: 296px;

}
.container_headphones {
    display: flex;
    align-items: center;
    flex-direction: column;
   margin-left: 104px;
}

.container_like {
    display: flex;
    align-items: center;
    flex-direction: column;
margin-right: 103px;
}
.container_communicate {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container_gadgets {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text_headphones {
    left: 77px;
    top: 148px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #383838;
    
}
.text_communicate {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #383838;
}
.text_gadgets {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #383838;
}
.text_like {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #383838;
}
.headphones {
    width: 75px;
    height: 92px;
}
.communicate {
    width: 83px;
    height: 83px;
}
.gadgets {
    width: 100px;
    height: 67px;
}
.like {
    width: 92px;
    height: 83px;
}
}
@media (max-width: 425px) {
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 641px;
    width: 360px;
    margin-left: 73px;
}
.text_headphones {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #383838;
    margin-left: 73px;
}
.text_communicate {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #383838;
    margin-left: 65px;
}

.text_gadgets {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #383838;
    margin-left: 73px;
}

.text_like {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #383838;
    margin-left: 73px;
}
.heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #383838;
    
}
hr {
    display: none;
}
.headphones {
    height: 64px;
    width: 53px;
    margin-left: 80px;
}
.communicate {
    width: 58px;
    height: 58px;
    margin-left: 80px;
}
.gadgets {
    width: 70px;
    height: 47px;
    margin-left: 80px;
}
.like {
    width: 64px;
    height: 58px;
    margin-left: 40px;
    margin-left: 80px;
}
.container_headphones {
    margin-left: 73px;
    margin-right: 73px;
    margin-bottom: 35px;
    width: 214px;
    height: 104px;
}
.container_communicate {
    margin-left: 73px;
    margin-right: 73px;  
    margin-bottom: 35px;
    width: 214px;
    height: 104px;
}
.container_gadgets {
    margin-left: 73px;
    margin-right: 73px;
    margin-bottom: 35px;
    width: 214px;
    height: 104px;
}
.container_like {
    margin-left: 73px;
    margin-right: 73px;
    margin-bottom: 35px;
    width: 214px;
    height: 104px;
}
.container_heading 
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 360px;
    margin-left: 143px;
}

}