@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/roboto-v27-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/roboto-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/roboto-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/roboto-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/roboto-v27-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/roboto-v27-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/roboto-v27-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/roboto-v27-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/roboto-v27-latin-500.woff') format('woff'), /* Modern Browsers */
         url('./fonts/roboto-v27-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/roboto-v27-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  body {
    margin: 0px;
    }
    .top {
    background: url(image/fon.png);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    }

header {
    width: 90%;
    padding: 51px 16px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.container_heading {
    width: 60%;
    margin-left: 104px;
}
.logo {
    width: 205px;
    height: 40px;
}
.stays {
    width: 59px;
}
.attractions{
    width: 118px;
}
.header_link {
    font-size: 24px;
    line-height: 40px;
    color: #ffffff;
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}
.night_img {
    width: 30px;
    height: 40px;
}
.account_img {
    width: 40px;
    height: 40px;
}
.icon_burger {
    display: none;
}
    h2 {
        text-decoration: none;
        color: #383838;
    }
    h2:hover
    {
        text-decoration: underline;
        color:#F5BD41 
    }
    a {
    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
    line-height: 1;
    }
    a:after
     {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    transition: width 0.4s ease-in-out;
    background-color:#F5BD41;
    }
    a:hover::after,
    a:focus::after {
        width: 100%;
    }
    a:hover {
        color:#F5BD41 ;
    }
  
    .container_middle {
    height: 487px;
    display: flex;
    flex-direction: column;
    padding: 202px 104px 120px;
    }
    .heading {
    height: 118px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
    }
    label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    height: 21px;
    }
    .label {
    margin-top: 100px;
    display: flex;
    margin-bottom: 24px;
    }
    #search {
    white-space: nowrap;
    }
    #date {
    margin-left: 230px;
    white-space: nowrap;}

    .place_to_request {
    display: flex;
    align-items: stretch;
    height: 64px;
    max-width: 1232px;
    background: #ffffff;
    border: 3px solid #f3f3f4;
    border-radius: 8px;
    margin-bottom: 120px;
    }
    .calendar{
    width: 259px;
    border: 3px solid #f4f4f3;
    box-sizing: border-box;
    border-radius: 8px;
    }
    input[type="submit"] {
    width: 192px;
    background: #3077C6;
    border-radius: 8px;
    font-family: Roboto;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF; 
    height: 64px;
    }
    input[type="submit"]::-moz-placeholder {
    padding: 20px 57px;   
    font-family: Roboto;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF; 
    }
    input[type="submit"]::-webkit-input-placeholder { 
    font-family: Roboto;
    padding: 20px 57px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF; 
    }
    input[type="submit"]:-ms-input-placeholder { 
    font-family: Roboto;
    padding: 20px 57px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF; 
    }
    input[type="submit"]::-ms-input-placeholder { 
    font-family: Roboto;
    padding: 20px 57px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF; 
    }
    input[type="submit"]::placeholder { 
    font-family: Roboto;
    padding: 20px 57px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF; 
    } 
    input .Adults_Children_Room {
    width: 314px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #383838;
    }
    input[type="date"] {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    }
    input[type="search"]
    {
    width: 458px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #383838;
    }
    .phone_app {
    display: flex;
    justify-content: center;
    }
    .icon_google {
    width: 135px;
    height: 40px;
    }
    .icon_app_store {
    width: 117px;
    height: 38px;
    }
    .headline {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    height: 47px;
    margin-top: 120px;
    margin-bottom: 112px;
    display: flex;
    justify-content: center;
    }
    .container_headphones {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 296px;
    height: 176px;
    }
    .container_communicate {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 296px;
    height: 178px;
    }
    .container_gadgets {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 296px;
    height: 184px;
    }
    .container_like {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 296px;
    height: 183px;
    }
    .headphones {
    width: 75px;
    Height: 92px;
    margin-bottom: 52px;
    }
    .communicate { 
    width: 83px;
    Height: 83px;
    margin-bottom: 56px;
    }
    .gadgets {
    width: 100px;
    Height: 67px;
    margin-bottom: 64px;
    }
    .like_img {
    width: 92px;
    Height: 83px;
    margin-bottom: 60px;
    }
    .text_headphones {
    height: 28px;
    left: 77px;
    top: 148px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #383838;
    }
    .text_communicate {
    width: 296px;
    height: 28px;
    top: 148px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #383838;
    }
    .text_gadgets {
    height: 28px;
    left: 64px;
    top: 148px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #383838;
    }
    .text_like {
    width: 225px;
    height: 28px;
    left: 36px;
    top: 148px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #383838;
    }
    .all_containers {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 120px;
    }
    .last_block {
    padding-bottom: 120px;
    background: #10367C;
    padding-top: 120px;
    }
    .heading_logo {
    display: block;
    }
    .container {
    display: flex;
    justify-content: space-between;}
    p {
    margin-top: 0px;
    }
    .container_about {
    width: 193px;
    margin-right: 223px;
    height: 211px;
    margin-left: 104px;
    }
    .container_property_types {
    width: 133px;
    margin-right: 283px;
    height: 310px;
    }
    .container_support {
    width: 233px;
    height: 122px;
    }
    .caption {
    color: #FFFFFF;
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-top: 32px;
    margin-bottom: 120px;
    margin-left: 104px;
    }
    .heading_about {
    width: 54px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    }
    .heading_property {
    width: 131px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    }
    .heading_support {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    }
    ul {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    padding-left: 0px;
    }
    li {
    list-style-type: none;
    margin-bottom: 24px;
    }    
    .heading_logo {
    display: none;}

    .Homes_guests_loves {
        height: 828px;
        left: 0px;
        top: 1469px;
        background: #EAF0F9;
        }
    .heading_homes_guests_loves {
        height: 47px;
        padding-top: 120px;
        margin-bottom: 106px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        color: #383838;
        display: flex;
        justify-content: center;
        }
    .hotels {
        display: flex;
        justify-content: space-evenly;
        }
    .text_hotel_leopold {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #3077C6;
        margin-top: 24px;
        }
    .text_apartment_sunshine{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #3077C6;
        margin-top: 24px;
        }
    .text_villa_kunerad{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #3077C6;
        margin-top: 24px;
        }
    .text_hostel_friendship{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #3077C6;
        margin-top: 24px;
        }
    .location_leopold {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #BFBFBF;
        }
    .location_sunshine {
        font-family: Roboto;
        width: 295px;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #BFBFBF;
        }
    .location_kunerad {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #BFBFBF;
        }
    .location_frendship{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #BFBFBF;
        }
    .slider-arrows {
        width: 40px;
        height: 40px;
        background: #F3F3F4;
        position: absolute;
        left: 93%;
        top: 27%;
        display: inline-block;
        border-radius: 50%;
        }
    .Homes_guests_loves > .hotels {
       position: relative;}
    .hotel_container {
        height: 385px;
        width: 246px;
    }
    .kunerad_img {
       height: 246px;
        width: 246px;
    }

    .hotel_img {
        height: 246px;
        width: 246px;
    }

    .The_best_destinations {
        display: flex;
        flex-direction: column;
    }  
    .The_best_destinations_heading{
        display: flex;
        justify-content:center ;
        margin-top: 120px;
        height: 45px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        color: #383838;
        margin-bottom: 104px;
    }
    .countries {
        display: flex;
        justify-content: space-around;
    }
    .seat_selection_buttons {
        display: flex;
        justify-content: start;
        margin-bottom: 65px;
        margin-left: 53px;
    }
    .Regions, .Cities {
        border-radius: 8px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        width: 192px;
        height: 64px;
        padding: 16px 52px;
        color: #383838;
    }
    .Places {
        border-radius: 8px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        width: 239px;
        height: 64px;
        color: #383838;  
    }
    input.Regions:active {
        background: #3077C6;
        color: #FFFFFF; 
    }
    input.Regions:hover {
        background: #3077C6;
        color: #FFFFFF;   
    }
    input.Сities:active {
        background: #3077C6;
        color: #FFFFFF; 
    }
    input.Cities:hover {
        background: #3077C6;
        color: #FFFFFF;   
    }

    input.Places:active {
        background: #3077C6;
        color: #FFFFFF;
    }
    input.Places:hover {
        background: #3077C6;
        color: #FFFFFF;  
    }
    .Maldives_text, .Spain_text, .Norway_text, .Island_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 210px;
    color: #3077C6;
}
.arrow_to_down {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #F3F3F4;
    box-sizing: border-box;
    border-radius: 50%;
    transform: rotate(-180deg);
    top: 70%;
}
.The_best_destinations > .countries {
    position: relative;}
.sign_up_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    height: 26px;
    color: #383838;
    margin-bottom: 33px;
}
.sign_up {
    display: flex;
    background:  #EAF0F9;
    width: 85%;
    margin-left: 104px;
}
.container_sign_up {
    display: flex;
    flex-direction: column;
}
.discount {
    height: 200px;
    top: 3255px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 0px;
}
.user_img {
    width: 86px;
    height: 86px;
    margin-left: 24px;
    margin-right: 24px;
}
.button_sing_up {
    width: 128px;
    height: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #3077C6;
    background: #FFFFFF;
    border: 1px solid #3077C6;
    box-sizing: border-box;
    border-radius: 8px;
}
.close {
    position: absolute;
    width: 2px;
    height: 32px;
    opacity: 0.3;
    left: 88%;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background: #BFBFBF;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
.Maldives_img:hover {
    opacity: 0.5;
    box-shadow: 0 0 10px rgba(12, 12, 12, 0.9);
}
.Spain_img:hover {
    opacity: 0.5;
    box-shadow: 0 0 10px rgba(12, 12, 12, 0.9);
}
.Norway_img:hover {
    opacity: 0.5;
    box-shadow: 0 0 10px rgba(12, 12, 12, 0.9);
}
.Island_img:hover {
    opacity: 0.5;
    box-shadow: 0 0 10px rgba(12, 12, 12, 0.9);
}
.Maldives_book_now, .Island_book_now, .Norway_book_now, .Spain_book_now {
    opacity: 0;
    position: absolute;
    height: 48px;
    width: 128px;
    transition: opacity .3s;
    background: #FFFFFF;
    border: 1px solid #3077C6;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #3077C6;
    top: 129px;
    margin-left: 89px;
}
.Maldives:hover input {
    opacity: 1;
    transition: opacity .3s;
}
.Spain:hover input {
    opacity: 1;
    transition: opacity .3s;
}
.Norway:hover input {
    opacity: 1;
    transition: opacity .3s;
}
.Island:hover input {
    opacity: 1;
    transition: opacity .3s;
}
.Guests_reviews_heading {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #383838;
    padding-top: 120px;
    margin-bottom: 104px;
}
.Guests_img {
    display: flex;
    justify-content: space-around;
}
.price {
    margin-top: -57px;
    background-color: rgba(56, 56, 56, 0.7);
    position: absolute;
    width: 407px
}
.price_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 24px;
}
h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #3077C6;
}
.mention {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.grade {
    display: flex;
    flex-direction: column;
}
.place_rokoko, .place_king, .place_ubud {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #3077C6;
}
.rating {
    background: #10367C;
    border-radius: 8px;
    width: 48px;
    height: 32px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 12px;
    margin-left: 33px;
}
.rewiews {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #BFBFBF;
}
.user {
    display: flex;
}
.guest_photo {
    width: 53px;
    height: 53px;
    margin-left: 30px;
}
.information_about_user {
    margin-left: 21px;
}
.name {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #383838;
    margin-bottom: 8px;
}
.homeland {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #BFBFBF;
    margin-bottom: 0px;
}
.commentary {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #383838;
    margin: 24px;
}
.Ubud, .King_Kong, .Rokoko {
    width: 400px;
}
.King_img, .Ubud_img, .Rokoko_img {
    width: 102%;
}
.sign_up_on_the_small_screen {
    display: none;
}
.container_calendar {
    display: flex;
    width: 36%;
}


@media (max-width: 1280px) {  
        #date {
            margin-left: 109px;
        }
        .Wat_do_we_offer {
            display: flex;
            justify-content: center;
            flex-direction:column;
        }
        .all_containers {
            margin-left: 0px;
            margin-right: 0px;
            justify-content: space-around;
        }
        .headphones {
            width: 52px;
            height: 64px;
        }
        .communicate {
            width: 58px;
            height: 58px;
        }
        .gadgets {
            width: 70px;
            height: 47px;
        }
        .like_img {
            width: 64px;
            height: 58px;
        }
        .container_headphones{
            width: 160px;
        }
        .container_gadgets {
            width: 184px;
        }
        .container_like {
            width: 184px;
        }
        .container_communicate {
            width: 184px;
        }
        .text_like {
            font-size: 15px;
            line-height: 18px;
        }
        .text_headphones {
            font-size: 15px;
            line-height: 18px;
        }
        .text_gadgets {
            font-size: 15px;
            line-height: 18px;
        }
        .text_communicate {
            font-size: 15px;
            line-height: 18px;
        }
        .heading_about {
            text-decoration: none;
            font-size: 20px;
        }
        .heading_about:hover {
            text-decoration: underline;
        }
        .container_property_types {
            margin-right: 0px;
        }
        .heading_property {
            text-decoration: none;
            font-size: 20px;
        }
        .heading_property:hover {
            text-decoration: underline;
        }
        .heading_support {
            text-decoration: none;
            font-size: 20px;
        }
        .container_about {
            margin-left: 0px;
            margin-right: 0px;
        }
        .container_support{
            margin-left: 120px;
            margin-right: 0px;
        }
        .container {
            justify-content: space-evenly;
            height: 100px;
        }
        .heading_logo {
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
            max-width: 1440px;
            height: 39px;
            top: 2785px;
        }
        .caption {
            margin-top: 254px;
        }
        .hotel_leopold {
            height: 193px;
            width: 156px;
        }
        .leopold_img {
            height: 155px;
            width: 155px;
        }
        .apartment_sunshine {
            height: 193px;
            width: 156px;  
        }
        .sunshine_img {
            height: 155px;
            width: 155px;
        }
        .villa_kunerad {
            height: 193px;
            width: 156px;   
        }
        .kunerad_img {
            height: 155px;
            width: 155px;
        }
        .hostel_friendship {
            height: 193px;
            width: 156px; 
        }
        .frendship_img {
            height: 155px;
            width: 155px;
        }
        .Maldives_img, .Spain_img, .Norway_img, .Island_img {
            height: 155px;
            width: 155px;
        }
        .Maldives_book_now, .Island_book_now, .Norway_book_now, .Spain_book_now {
            margin-left: 30px;
            top: 63px;
            height: 37px;
            width: 100px;
        }
        .Rokoko {
            display: none;
        }
        .King_Kong {
            display: none;
        }
        .Ubud {
            width: 50%;
        }
        .price {
            width: 51%;
        }
        .mention {
            justify-content: space-between;
        }
        .Guests_reviews {
            background: #EAF0F9;
        }
        
    }
@media (max-width: 1024px) {
    .label {
        display: none;
    }
    .top {
        width: auto;
        background-position: 88% 100%;
        background-size: cover;
        height: 100%;
    }
    .icon_burger {
        width: 24px;
        height: 22px;
        display: block;
        position: relative;
    }
    header {
        margin-left: 20px;
        padding-top: 12px;
    }
        .container_heading {
            width: 74%;
        }
        .container_calendar {
            width: 100%;
            justify-content: space-between;
        }
        input[type="date"] {
            width: 49%;
            height: 48px;
            margin-bottom: 8px;
        }
        .place_to_request {
            flex-direction: column;
        width: 100%;
        height: 100%;
        background: #F5BD41;
        border: 4px solid #F5BD41;
        box-sizing: border-box;
        }
        input[type="search"] {
            width: 100%;
            height: 48px;
            margin-bottom: 8px;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            font-weight: 500;
            color: #383838;
        }
        input[type="submit"] {
            height: 48px;
            width: 100%;
            margin-top: 8px;
        }
        .Adults_Children_Room {
            height: 48px;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            font-weight: 500;
            color: #383838;
        }
        .place_to_request {
            margin-bottom: 57px;
            height: 328px;

        }
        .menu {
            width: 24px;
            height: 16px;
        }
        .account_img {
            height: 24px;
            width: 24px;
        }
        .night_img {
            height: 16px;
            width: 16px;
        }
        .label {
            margin-top: 40px;
        }
        .container_middle {
            padding: 52px 20px 31px;
        }
        .stays, .attractions {
            display: none;
        }
        .list_items {
            display: none;}   

        .headline {
            margin-top: 50px;
            margin-bottom: 100px;
        }
        .all_containers {
            flex-direction: column;
            align-items: center;
        }
        .container_headphones {
            margin-bottom: 34px;
        }     
        .container_gadgets {
            margin-bottom: 34px; 
        }
        .container_communicate {
            margin-bottom: 34px;
        }
        .heading_logo_last {
            width: 170px;
            height: 45px;
        }
        .container_about {
            margin-left: 0px;
            margin-right: 0px;
            width: 41px;
            height: 18px;
        }
        .container_property_types {
            height: 18px;
            width: 155px;
            margin-right: 0px;
        }
        .container_support {
            margin-left: 0px;
            margin-right: 0px;
            width: 41px;
            height: 18px;
        }
        .container {
            margin-bottom: 65px;
        }
        .heading_about {
            text-decoration: none;
            font-size: 25px;
        }
        .heading_about:hover {
            text-decoration: underline;
        }
        .heading_property {
            text-decoration: none;
            font-size: 25px;
            width: 164px;
        }
        .heading_property:hover {
            text-decoration: underline;
        }
        .heading_support {
            text-decoration: none;
            font-size: 25px;
        }
        .heading_support:hover {
            text-decoration: underline;
        }
        .caption {
            font-size: 20px;
            margin-top: 32px;
            display: flex;
            justify-content: center;
            margin-left: 0px;      }
        .text_hotel_leopold {
            font-size: 20px;
            line-height: 25px;
        }
        .text_villa_kunerad {
            font-size: 20px;
            line-height: 25px;
        }
        .text_hostel_friendship {
            font-size: 20px;
            line-height: 25px;
        }
        .text_apartment_sunshine {
            font-size: 20px;
            line-height: 25px;
        }
        .location_frendship {
            font-size: 15px;
            line-height: 18px;
        }
        .location_kunerad {
            font-size: 15px;
            line-height: 18px;
        }
        .location_leopold {
            font-size: 15px;
            line-height: 18px;
            width: 159px;
        }
        .location_sunshine {
            font-size: 15px;
            line-height: 18px;
            width: 159px;
        }
        .container_heading {
            margin-left: 0px;
        }
        
    }
@media (max-width: 768px) {
    .heading {
        font-size: 30px;
        line-height: 35px;
    }
    .logo {
        width: 121px;
        height: 24px;
    }
    .place_to_request {
        margin-bottom: 107px;
    }
        .villa_kunerad {
            display: none;
        }
        .hostel_friendship {
            display: none;
        }
        .headline {
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 33px;
            margin-bottom: 34px;
            margin-top: 24px;
        }
        .container_communicate {
            margin-bottom: 34px;
        }
        .container_gadgets {
            margin-bottom: 34px;
        }
        .list_items {
            display: none;
            }
        .container_about {
            height: 18px;
            margin-right: 0px;
            width: 75px;
            }
        .container_property_types {
           height: 18px;
           width: 155px;
           margin-right: 0px;
            }
        .container_support {
            height: 18px;
            margin-left: 0px;
            margin-right: 0px;
            width: 75px;
        }    
        .heading_about {
            text-decoration: none;
        }
        .heading_about:hover {
            text-decoration: underline;
        }
        .heading_property {
            text-decoration: none;
        }
        .heading_property:hover {
            text-decoration: underline;
        }
        .heading_support {
            text-decoration: none;
        }
        .heading_support:hover 
        {
            text-decoration: underline;
        }
        .heading_homes_guests_loves {
            font-size: 28px;
            line-height: 33px;
        }
        .slider-arrows {
            left: 86%;
        }
        .Norway {
            display: none;
        }
        .Island {
            display: none;
        }
        .Regions, .Cities, .Places {
            width: 98px;
            height: 45px;
            font-style: normal;
            font-weight: normal;
            font-size: 19px;
            line-height: 22px;
            padding: 0px;
        }
        .Places {
            white-space: normal;
        }
        .sign_up {
          display: none;
        }
        .The_best_destinations_heading {
            font-weight: 500;
            font-size: 28px;
            line-height: 33px;
            margin-bottom: 32px;
        }
        .seat_selection_buttons {
            margin-bottom: 24px;
            margin-left: 15px;
        }
        .Maldives_text, .Spain_text, .Norway_text, .Island_text {
            margin-bottom: 40px;
        }
        .arrow_to_down {
            width: 35px;
            height: 35px;
            top: 80%;
        }
        .Homes_guests_loves {
            height: 460px;
        }
        .The_best_destinations_heading {
            margin-top: 40px;
        }
        .heading_homes_guests_loves {
            padding-top: 40px;
            margin-bottom: 32px;
        }
        h3 {
            font-size: 15px;
        line-height: 18px;
        }
        .place_ubud {
            font-size: 15px;
            line-height: 18px;
        }
        .rating {
            width: 39px;
            height: 26px;
            font-size: 15px;
            line-height: 20px;
        }
        .rewiews {
            font-size: 12px;
            line-height: 14px;
        }
        .name {
            font-size: 15px;
            line-height: 18px;
        }
        .homeland 
        {
            font-size: 15px;
            line-height: 18px;
        }
        .commentary {
            font-size: 15px;
            line-height: 18px;
        }
        .guest_photo {
            width: 43px;
            height: 43px;
        }
        .Guests_reviews_heading {
            margin-bottom: 32px;
            padding-top: 40px;
        }
        .sign_up_on_the_small_screen {
            padding-top: 24px;
            height: 106px;
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .close_on_the_small_screen {
            position: absolute;
            width: 32px;
            height: 32px;
            opacity: 0.3;
            left: 8%;
        }
        .close_on_the_small_screen:hover {
            opacity: 1;
        }
        .close_on_the_small_screen:before, .close_on_the_small_screen:after {
            position: absolute;
            left: 7%;
            content: ' ';
            height: 33px;
            width: 2px;
            background: #BFBFBF;
        }
        .close_on_the_small_screen:before {
            transform: rotate(45deg);
        }
        .close_on_the_small_screen:after {
            transform: rotate(-45deg);
        }
        .label_triphouse {
            background: #3077C6;
        border-radius: 4px;
        height: 58px;
        width: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        }
        .label_triphous_img {
            width: 89%;
            height: 22%;
        }
        .sign_up_on_the_small_screen_text {
            margin-left: 16px;
            width: 36%;
        }
        .install {
            font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #3077C6;
        margin-top: -6px;
        }
    }
    
@media (max-width: 320px) {
        .last_block {
        height: 203px;
        }
        .place_to_request {
            margin-bottom: 82px;
        }
        .list_items {
        display: none;
        }
        .container {
        height: 18px;
        }
        .heading_about {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        text-decoration-line: underline;
        }
        .heading_property {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        text-decoration-line: underline;
        }
        .heading_support {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        text-decoration-line: underline;
        }
        .caption {
        margin-bottom: 40px;
        font-size: 12px;
        line-height: 14px;
        }
        .all_containers {
        align-items: center;
        height: 641px;
        margin-bottom: 0px;
        width: 320px;
        }
        .text_headphones {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #383838;
        margin-bottom: 47px;
        }
        .text_communicate {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #383838;
        margin-bottom: 43px;
        }    
        .text_gadgets {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #383838;
        margin-bottom: 34px;
        }   
        .text_like {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #383838;
        align-items: center;
        }
        .headline {
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        color: #383838;
        text-align:center;
        display: flex;
        justify-content: center;
        width: 320px;
        }
        .headphones {
        height: 64px;
        width: 53px;
        margin-bottom: 35px;
        }
        .communicate {
        width: 58px;
        height: 58px;
        margin-bottom: 35px;
        }
        .gadgets {
        width: 70px;
        height: 47px;
        margin-bottom: 35px;
        }
        .like_img {
        width: 64px;
        height: 58px;
        margin-bottom: 35px;
        }
        .container_headphones {
        margin-bottom: 35px;
        width: 214px;
        height: 104px;
        }
        .container_communicate {
        margin-bottom: 35px;
        width: 214px;
        height: 104px;
        }
        .container_gadgets {
        margin-bottom: 35px;
        width: 214px;
        height: 104px;
        }
        .container_like {
        margin-bottom: 35px;
        width: 214px;
        height: 104px;
        }
        .heading_about {
        text-decoration: none;
        }
        .heading_about:hover {
        text-decoration: underline;
        }
        .heading_property {
        text-decoration: none;
        }
        .heading_property:hover {
        text-decoration: underline;
        }
        .heading_support {
        text-decoration: none;
        }
        .heading_support:hover {
        text-decoration: underline;
        }
        .seat_selection_buttons {
            margin-left: 0px;
        }

    }